.vs/
bin/
lib/
temp/
build/lib/
build/temp/
*.iml
*.vcxproj.user
*.xcscheme
*.xcuserstate
*.xcbkptlist
xcschememanagement.plist
IDEWorkspaceChecks.plist
xxImGui.AndroidStudio/.gitignore
xxImGui.AndroidStudio/.gradle
xxImGui.AndroidStudio/.idea
xxImGui.AndroidStudio/local.properties
xxImGui.AndroidStudio/app/.cxx
xxImGui.AndroidStudio/app/.gitignore
xxImGui.AndroidStudio/app/build
xxImGui.AndroidStudio/build
xxImGui.xcworkspace/xcshareddata
xxImGui.xcworkspace/xcuserdata
