.vs/
bin/
lib/
temp/
project/build/
*.xcscheme
*.xcuserstate
*.xcbkptlist
xcschememanagement.plist
IDEWorkspaceChecks.plist
build/AndroidStudio/.idea
build/AndroidStudio/.gitignore
build/AndroidStudio/app/.gitignore