[submodule "xxGraphic"]
	path = xxGraphic
	url = https://github.com/metarutaiga/xxGraphic
[submodule "freetype"]
	path = 3rdParty/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "stb"]
	path = 3rdParty/stb
	url = https://github.com/metarutaiga/stb
[submodule "3rdParty/ClangPlatform"]
	path = 3rdParty/ClangPlatform
	url = https://github.com/metarutaiga/ClangPlatform
[submodule "xxYUV"]
	path = xxYUV
	url = https://github.com/metarutaiga/xxYUV
[submodule "libyuv"]
	path = libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "ConcurrencyNetworkFramework"]
	path = ConcurrencyNetworkFramework
	url = https://github.com/metarutaiga/ConcurrencyNetworkFramework
[submodule "mips"]
	path = mips
	url = https://github.com/metarutaiga/mips
[submodule "riscv"]
	path = riscv
	url = https://github.com/metarutaiga/riscv
