.vs/
bin/
lib/
temp/
project/build/
*.iml
*.vcxproj.user
*.xcscheme
*.xcuserstate
*.xcbkptlist
xcschememanagement.plist
IDEWorkspaceChecks.plist
build/AndroidStudio/.gitignore
build/AndroidStudio/.gradle
build/AndroidStudio/.idea
build/AndroidStudio/local.properties
build/AndroidStudio/app/.cxx
build/AndroidStudio/app/.gitignore
build/AndroidStudio/app/build
