[submodule "xxGraphic"]
	path = xxGraphic
	url = https://github.com/metarutaiga/xxGraphic
[submodule "freetype"]
	path = freetype
	url = https://github.com/metarutaiga/freetype2
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "xxMiniCRT"]
	path = xxMiniCRT
	url = https://github.com/metarutaiga/xxMiniCRT
[submodule "xxYUV"]
	path = xxYUV
	url = https://github.com/metarutaiga/xxYUV
[submodule "libyuv"]
	path = libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
