[submodule "xxGraphic"]
	path = xxGraphic
	url = https://github.com/metarutaiga/xxGraphic
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "stb"]
	path = stb
	url = https://github.com/metarutaiga/stb
[submodule "msvc"]
	path = msvc
	url = https://github.com/metarutaiga/msvc
[submodule "ndk"]
	path = ndk
	url = https://github.com/metarutaiga/ndk
